Assignment 2nd Feb: Sanjay kumar sahu (sanjaysahu64544@gmail.com)

In [ ]:
Q1. Explain with an example each when to use a for loop and a while loop.

For loop = A for loop is useful when you want to repeat a specific set of code a fixed number of times and it is used when you know 
the exact number of iterations you need to perform.

Example of using a for loop:

In [9]:
for i in range(3):
    print(i)

0
1
2

This is because the loop will run three times, with the value of i being 0, 1, and 2 in each iteration respectively.

While loop = while loop is useful when you need to repeat a block of code an unknown number of times.

Example of using a while loop:

In [10]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3

This code will also print the numbers 0 to 3, because the loop will continue running until the condition i < 4 is no longer true. In this case, i is incremented each time the loop runs until it reaches 4, which then terminates the loop.



                            ------------------------------------------------
                            ------------------------------------------------

In [ ]:
Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

Using a for loop:

In [8]:
sum = 0
for i in range(1, 11):
    sum += i

print("Sum of first 10 natural numbers using for loop:", sum)

product = 1
for i in range(1, 11):
    
    product *= i

print("Product of first 10 natural numbers using for loop:", product)

Sum of first 10 natural numbers using for loop: 55
Product of first 10 natural numbers using for loop: 3628800

Using a while loop:

In [9]:
sum = 0
i = 1
while i <= 10:
    sum += i
    i += 1

print("Sum of first 10 natural numbers using while loop:", sum)

product = 1
i = 1
while i <= 10:
    product *= i
    
    i += 1

print("Product of first 10 natural numbers using while loop:", product)

Sum of first 10 natural numbers using while loop: 55
Product of first 10 natural numbers using while loop: 3628800



                            ------------------------------------------------
                            ------------------------------------------------

In [ ]:
Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [5]:
units = int(input("Enter the number of units consumed: "))

bill_amount = 0

if units <= 100:
    bill_amount = units * 4.5
    
elif units <= 200:
    
    bill_amount = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill_amount = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    
    
else:
    bill_amount = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Your electricity bill is Rs.", bill_amount)

Enter the number of units consumed:  310

Your electricity bill is Rs. 2250.0



                            ------------------------------------------------
                            ------------------------------------------------

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

Using a for loop:

In [11]:
num_list = list(range(1, 101))

result_list = []

for num in num_list:
    
    cube = num ** 3
    
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(num)

print(result_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Using a while loop:

In [4]:
num_list = list(range(1, 101))

result_list = []

i = 0



while i < len(num_list):
    
    num = num_list[i]
    cube = num ** 3
    
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(num)
    
    i += 1

print(result_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]



                            ------------------------------------------------
                            ------------------------------------------------

In [ ]:
Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [3]:
string = "I want to become a data scientist"

vowel_count = 0



vowels = {'a',   'e', 'i',  'o', 'u'}
 

for char in string:
    
    if char.lower() in vowels:
        vowel_count += 1

print("The number of vowels in the string is:", vowel_count)

The number of vowels in the string is: 12



                            ------------------------------------------------
                            ------------------------------------------------